<h2>Tweets</h2>

<%= form_for @tweet, :url => {:action => "create"} do |f| %>
	
	<% if @tweet.errors.any? %>
		<ul>
		<% @tweet.errors.full_messages.each do |msg| %>
        	<li class="error"><%= msg %></li>
      	<% end %>
      </ul>
	<% end %>
	<div>
		<%= f.label :text %>
		<%= f.text_field :text %>
		<%= f.submit "Add" %>
	</div>

<% end %>

<ul>
	<% @tweets.each do |tweet| %>

		<li>
			<p>
				<%= tweet.text %>
			</p>
			<p>
				<%= link_to "View", tweet %>
			</p>
			<p>
				<%= link_to "Delete", tweet, :method => :delete, data: { confirm: "Delete tweet?"} %>
			</p>
		</li>

	<% end %>
</ul>