<h2>Tweets</h2>

<%= form_for @tweet, :url => {:action => "create"} do |f| %>
	<% if flash.any? %>
		<p class="post_stat"><%= flash[:success] || flash.now[:fail] %></p>
	<% end %>
	<% if @tweet.errors.any? %>
		<ul>
		<% @tweet.errors.full_messages.each do |msg| %>
        	<li class="error"><%= msg %></li>
      	<% end %>
      </ul>
	<% end %>
	<div>
		<%= f.label :text %>
		<%= f.text_field :text %>
		<%= f.submit "Add" %>
	</div>

<% end %>

<ul class="tweets">
	<% @tweets.each do |tweet| %>

		<li class="tweet">
			<p class="tweet_content">
				<%= tweet.text %>
			</p>
			<div class="tweet_links">
				<p>
					<%= link_to "View", tweet %>
					<br>
					<%= link_to "Delete", tweet, :method => :delete, data: { confirm: "Delete tweet #{tweet.id}?"} %>
				</p>
			</div>
		</li>

	<% end %>
</ul>